@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');

:root {
    --color-primario: gray;
    --color-secundario: black;
    --color-terceario: white;
}

body {
    font-family: edu nsw act cursive;
    background-color: var(--color-terceario);
    color: var(--color-secundario);
}

.tabladecompañeros {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.tabladecompañeros, th .tabladecompañeros, td {
    padding: 10px 10px;
    border: 1px solid var(--color-secundario);
}

.tabladecompañeros th{
    background-color: var(--color-secundario);
    color: white;
}

.tabladecompañeros tr:hover{
    background-color: whitesmoke ;
}

.formulario label{
    background-color: var(--color-primario);
    padding: 5px;
    border-radius: 4px;
}

.formulario input{
    background-color: var(--color-terceario);
    color: white;
}