@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');

body {
    background-color: white;
}

h1{
    font-family: Edu NSW ACT Hand Cursive;
    font-size: 40px;
    font-weight: 400;
    font-style: initial;
    padding: 80px 20px 30px 100px;
    background-color: aqua;
    border:solid 2px gold;
    border-radius: 10px;
}

p {
    font-family: Edu NSW ACT Hand Cursive;
}