@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

:root {
    --color-primary:black;
    --color-secundary: #ff1a78;
    --color-terceary: #FFFFFF;
}

body{
    background-color: var(--color-primary);
}

div{
    display: flex;
    flex: 1;
    background-color: var(--color-primary);
    margin: auto;
    padding: auto;
    width: 100%;
    align-items: center;
    font-size: 1rem;
    height: 200px;
    text-align: center;

}

a {
    text-decoration: none;
    color: var(--color-terceary);
    list-style: none;
}

img{
    width: 15%;
}
.investment{
    background-color: #ff1a78;
    color: #FFFFFF;
    font-size: 30px;
    border-radius: 5px ;
    align-items: left;
    margin:100px;
}
